@import-normalize; 
@font-face{
  font-family: 'Neue Machina-Regular';
    src: url('../fonts/PPNeueMachina-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Neue Machina-Light';
  src: url('../fonts/PPNeueMachina-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Neue Machina-Ultrabold';
  src: url('../fonts/PPNeueMachina-Ultrabold.otf') format('opentype');
}

body {
  margin: 0;
  font-family: 'Neue Machina-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
